<!DOCTYPE html>
<html>
  <head>
    <title>ThGosspingProjet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Accueil", '/gossips/home' %></li>
            <li><%= link_to "Index des gossips", gossips_path %></li>
            <li><%= link_to "Nouveau gossip", '/gossips/new' %></li>
            <li><%= link_to "Connexion", '/registration/login' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>

</html>
